	<!-- begin: footer -->
	<div id="prefooter" class="container-fluid background-grey">
        <div class="row center-block max1200">
            <div class="col-xs-12">
                <button type="button" class="b_volver_arriba">
                    <img alt="" class="lazy" src="/assets/img/pixel.png" data-src="/assets/img/ico_volver_arriba.png" />
                    Volver arriba
                </button> 
            </div>
        </div>
        <div class="row center-block max1200 prefooter-box">
            <div class="col col-md-3 col-sm-6 padding_sides_30">
                <div class="col_prefooter">
                    <h3 class="titol_home_04">Contacta</h3>
                    Hotel Montiboli<br />
                    Partida Montíboli S/N<br />
                    E-03570 Villajoyosa<br />
                    <br />
                    +34 965 890 250<br />
                    montiboli@servigroup.com<br />
                    <br />
                    <div class="xarxes-footer">
                        <a href="" target="_blank"><img alt="" class="lazy floatl facebook" src="/assets/img/pixel.png" data-src="/assets/img/ico_facebook_footer.png" style="width:32px;" /></a>
                        <a href="" target="_blank"><img alt="" class="lazy floatl pinterest" src="/assets/img/pixel.png" data-src="/assets/img/ico_pinterest_footer.png" style="width:32px;" /></a>
                        <div class="clear"></div>
                    </div>
                </div>
                <a href="" class="b_generic01 b_footer">Encuéntranos</a>
            </div>
            <div class="col col-md-3 col-sm-6 padding_sides_30">
                <div class="col_prefooter">
                    <h3 class="titol_home_04">Newsletter</h3>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin leo ipsum, viverra in sapien at, laoreet lobortis lectus.<br />
                    <br />
                    <input class="input01" type="email" placeholder="escribe tu email" title="escribe tu email" />
                </div>
                <a href="" class="b_generic01 b_footer">Enviar mail</a>
            </div>
            <div class="col col-md-3 col-sm-6 padding_sides_30">
                <div class="col_prefooter">
                    <h3 class="titol_home_04">Su opinión...</h3>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin leo ipsum, viverra. Lorem ipsum dolor sit.<br />
                    <br />
                    <img alt="" class="lazy" src="/assets/img/pixel.png" data-src="/assets/img/ico_comentarios_footer.png" style="width:50px;" />
                </div>
                <a href="" class="b_generic01 b_footer">Dénos su opinión</a>
            </div>
            <div class="col col-md-3 col-sm-6 padding_sides_30">
                <div class="col_prefooter">
                    <h3 class="titol_home_04">Folleto</h3>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin leo ipsum<br />
                    <br />
                    <img alt="" class="lazy" src="/assets/img/pixel.png" data-src="/assets/img/ico_descarga_footer.png" style="width:36px;" />
                </div>
                <a href="" class="b_generic01 b_footer">Descargar</a>
            </div>
        </div>
    </div>
    
    <div id="footer" class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <a class="footer-logo center-block" title="" href="#" ><img alt="" src="/assets/img/pixel.png" data-src="/assets/img/logo_footer.jpg" class="lazy img-responsive" /></a>
                <div class="footer-info">
                    <span>MONTIBOLI TODOS LOS DERECHOS RESERVADOS 2016</span><a class="footer-link" href="">Términos legales</a><a class="footer-link" href="">Aviso de cookies</a>
                </div>
                <span>Web Design by: Atoom Studio</span>
            </div>
        </div>
    </div>
	<!-- end: footer -->
