	<!-- begin: navbar -->
	<nav class="main-nav">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="has-child">
                    <a href="#" class="item">El hotel<span class="glyphicon glyphicon-menu-down visible-lg"></span></a>
                    <a data-toggle="collapse" href="#sub-hotel" class="open-sub hidden-lg"><span class="glyphicon glyphicon-menu-down"></span></a>
                    <div class="submenu collapse" id="sub-hotel">
                        <nav class="sub-nav">
                            <ul>
                                <!-- <li class="parent"><a href="">El hotel</a></li> -->
                                <li><a href="">Habitaciones</a></li>
                                <li><a class="active" href="">Instalaciones</a></li>
                                <li><a href="">Gastronomía</a></li>
                                <li><a href="">Multimedia</a></li>
                                <li><a href="">Situación</a></li>
                            </ul>
                        </nav>
                    </div>
                </li>
                <li>
                    <a href="">Ofertas</a>
                </li>
                <li>
                    <a class="active" href="">Eventos</a>
                </li>
                <li>
                    <a href="">Bodas</a>
                </li>
                <li>
                    <a href="">El SPA</a>
                </li>
                <li class="has-child">
                    <a href="#" class="item">Entorno<span class="glyphicon glyphicon-menu-down visible-lg"></span></a>
                    <a data-toggle="collapse" href="#sub-entorno" class="open-sub hidden-lg"><span class="glyphicon glyphicon-menu-down"></span></a>
                    <div class="submenu collapse" id="sub-entorno">
                        <nav class="sub-nav">
                            <ul>
                                <!-- <li class="parent"><a href="">Entorno</a></li> -->
                                <li><a href="">Habitaciones</a></li>
                                <li><a class="active" href="">Instalaciones</a></li>
                                <li><a href="">Gastronomía</a></li>
                                <li><a href="">Multimedia</a></li>
                                <li><a href="">Situación</a></li>
                            </ul>
                        </nav>
                    </div>
                </li>
                <li>
                    <a href="">Contacto</a>
                </li>
                <li>
                    <a href="">Blog</a>
                </li>
                <li>
                    <a href="">Agencia</a>
                </li>
            </ul>
        </div>
    </nav>
	<!-- end: navbar -->
