---
detalle_oferta: active
---
    {{> reservar }}
    {{> header }}

    {{!-- begin: content container --}}
    <style type="text/css">
        .banner-pagina-interior {
            background-image:url(assets/img/banners/banner-detalle-oferta01.jpg);
        }
        @media (max-width:767px){ 
            .banner-pagina-interior {
                background-image:url(assets/img/banners/banner-detalle-oferta01@xs.jpg);
            }
        }
    </style>
    <div class="container-fluid banner-pagina-interior bg-photo">
        <div class="degradat-banner-interior"></div>
        <div class="text-banner-interior">
            <h1>Escapada romántica</h1>
            <h2>- Para el tiempo junto a tu pareja -</h2>
        </div>
    </div>
    <div id="section-content" class="light-bg">
        <div id="breadcrumbs" class="container">
            <ol class="breadcrumb center-block">
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Ofertas</a></li>
                <li class="active">Escapada romántica</li>
            </ol>
        </div>
        
        <div id="info-detalle" class="container small-area">
            <div class="row visible-xs">
                <div class="col-xs-12"><a href="" class="b_generic03"><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>Ver todas las ofertas</a></div>
            </div>
            <div class="row">
                <div class="col-sm-8 padding_right_40">
                    <h3>Hotel Romántico en Villajoyosa, Alicante, disfruta con tu pareja de momentos especiales junto al mar.</h3>
                    <p>
                        Si quieres encontrar la paz que buscas insistentemente, si quieres refrescarte junto al mar y escaparte del agobio de la ciudad, si buscas reencontrar el romanticismo que perdemos en el día a día, el Hotel Servigroup Montíboli ahora te lo pone fácil.</p>
                        <p>
                        Disfruta de dos noches en alojamiento y desayuno en habitación doble Colonial o Moderna*, una cena romántica para dos personas (con bebida incluida) en el Restaurante Emperador, y dos circuitos de agua en nuestro Servigroup Wellness Center & SPA por tan solo 199€ por persona.</p>
                         <p>
                        Ven con nosotros y déjate mimar en cuerpo y mente, acércate a sentir cómo el tiempo se detiene junto a tu pareja escuchando solamente el murmullo de las olas llegando a la playa.</p>
                         <p>
                        *Según disponibilidad. Este paquete es válido hasta el 31 de mayo (excepto el 13 de febrero y del 22 al 27 de marzo). El precio mostrado es por persona con los servicios descritos, noche adicional de 73.35€ por persona. IVA ya incluido.</p>
                    
                </div>
                <div class="col-sm-4 offer-details">
                    <h2>desde 73.35€</h2>
                    <span class="aclaraciones">* precio por persona</span>
                    <div class="small-area">
                        <a href="" class="b_generic01">Reserva esta oferta</a>
                    </div>

                    <div class="list-link-02">
                        <h3>Ventajas de la oferta</h3>
                        <span>Ventaja número 1</span><br />
                        <span>Esto es una ventaja</span><br />
                        <span>Ventaja</span><br />
                        <span>Esto es una ventaja más larga</span><br />
                        <span>Ventaja número 5</span>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="container-fluid container-detalle-galeria">
            <div id="links" class="detalle-galeria wp-galeria" data-type="galeria-default" data-items="assets/img/ofertas/oferta_01.jpg,assets/img/ofertas/oferta_02.jpg,assets/img/ofertas/oferta_03.jpg,assets/img/ofertas/oferta_04.jpg,assets/img/ofertas/oferta_05.jpg,assets/img/ofertas/oferta_06.jpg,assets/img/ofertas/oferta_02.jpg,assets/img/ofertas/oferta_05.jpg,assets/img/ofertas/oferta_04.jpg,assets/img/ofertas/oferta_03.jpg,assets/img/ofertas/oferta_01.jpg,assets/img/ofertas/oferta_03.jpg,assets/img/ofertas/oferta_02.jpg,assets/img/ofertas/oferta_01.jpg,assets/img/ofertas/oferta_06.jpg,assets/img/ofertas/oferta_01.jpg">
                <div class="gallery-content row"></div>
                <div class="gallery-carousel row"></div>
                <div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls">
                    <div class="slides"></div>
                    <a class="prev carousel-control left">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="next carousel-control right">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                    <a class="close">×</a>
                    <a class="play-pause"></a>
                    <ol class="indicator"></ol>
                </div>
                <div class="text-center medium-area hidden-xs">
                    <a href="#" id="galeria-habitacion" class="load-images b_generic01" data-type="galeria-default">Carga más imágenes</a>
                </div>
            </div>
            <div class="wp-galeria hidden-xs" data-type="galeria-default"></div>
        </div>
        
        <div id="listado-ofertas" class="container medium-area hidden-xs">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <div class="h3">También tenemos...</div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 padding_sides_13">
                    <a class="image-effect-link" href="#"><img alt="" class="img-responsive-100x100" src="assets/img/ofertas/nuestras-tarifas.jpg" /></a>
                    <h2 class="titol-list-compact"><a href="#">Nuestras tarifas</a></h2>
                    <div class="linia05"></div>
                    <a href="" class="b_generic01 b_generic01_center">Vea la oferta</a>
                </div>
                <div class="col-sm-4 padding_sides_13">
                    <a class="image-effect-link" href="#"><img alt="" class="img-responsive-100x100" src="assets/img/ofertas/gastronomia-montiboli.jpg" /></a>
                    <h2 class="titol-list-compact"><a href="#">Gastronomía Montíboli</a></h2>
                    <div class="linia05"></div>
                    <a href="" class="b_generic01 b_generic01_center">Vea la oferta</a>
                </div>
                <div class="col-sm-4 padding_sides_13">
                    <a class="image-effect-link" href="#"><img alt="" class="img-responsive-100x100" src="assets/img/ofertas/convenciones-banquetes.jpg" /></a>
                    <h2 class="titol-list-compact"><a href="#">Convenciones y Banquetes</a></h2>
                    <div class="linia05"></div>
                    <a href="" class="b_generic01 b_generic01_center">Vea la oferta</a>
                </div>
            </div>
        </div>
        <div id="container-video" data-url="https://www.youtube.com/embed/vIbTZknuAQQ"></div>
    </div>
    {{!-- end: content container --}}
    {{> footer }}