---
listado_ofertas: active
---
    {{> reservar }}
    {{> header }}

    {{!-- begin: content container --}}
    <style type="text/css">
        .banner-pagina-interior {
            background-image:url(assets/img/banners/banner-listado-ofertas.jpg);
        }
        @media (max-width:767px){ 
            .banner-pagina-interior {
                background-image:url(assets/img/banners/banner-listado-ofertas@xs.jpg);
            }
        }
    </style>
    <div class="container-fluid banner-pagina-interior banner-standard">
        <div class="degradat-banner-interior"></div>
        <div class="text-banner-interior">
            <h1>Ofertas y novedades</h1>
            <h2>- Momentos especiales -</h2>
        </div>
    </div>

    <div id="section-content" class="light-bg">
        <div id="breadcrumbs" class="container">
            <ol class="breadcrumb center-block">
                <li><a href="#">Inicio</a></li>
                <li class="active">Ofertas</li>
            </ol>
        </div>
        
        <div id="listado-ofertas" class="container small-area list-compact">
            <div class="row">
                <div class="col-sm-6 col-md-4 padding_sides_13 item load-item">
                    <a title="" href="#" class="image-effect-link"><img alt="" class="lazy img-responsive-100x100" data-src="assets/img/ofertas/nuestras-tarifas.jpg" /></a>
                    <h2 class="titol-list-compact"><a title="" href="#">Escápate con tu pareja</a></h2>
                    <div class="linia05"></div>
                    <p>Ven con nosotros y sentirás cómo el tiempo se detiene junto a tu pareja.</p>
                    <a href="" class="b_generic01 b_generic01_center">Vea la oferta</a>
                </div>
                <div class="col-sm-6 col-md-4 padding_sides_13 item load-item">
                    <a title="" href="#" class="image-effect-link"><img alt="" class="lazy img-responsive-100x100" data-src="assets/img/ofertas/gastronomia-montiboli.jpg" /></a>
                    <h2 class="titol-list-compact"><a title="" href="#">Especial Navidades 2015</a></h2>
                    <div class="linia05"></div>
                    <p>Vive unas inolvidables Navidades en el mejor entorno y con la mejor gastronomía...</p>
                    <a href="" class="b_generic01 b_generic01_center">Vea la oferta</a>
                </div>

                <div class="clearfix visible-sm-block"></div>

                <div class="col-sm-6 col-md-4 padding_sides_13 item load-item">
                    <a title="" href="#" class="image-effect-link"><img alt="" class="lazy img-responsive-100x100" data-src="assets/img/ofertas/convenciones-banquetes.jpg" /></a>
                    <h2 class="titol-list-compact"><a title="" href="#">Regala Montíboli</a></h2>
                    <div class="linia05"></div>
                    <p>¿Buscas un regalo muy especial? Te lo ponemos fácil.</p>
                    <a href="" class="b_generic01 b_generic01_center">Vea la oferta</a>
                </div>

                <div class="clearfix visible-md-block visible-lg-block"></div>

                <div class="col-sm-6 col-md-4 padding_sides_13 item load-item">
                    <a title="" href="#" class="image-effect-link"><img alt="" class="lazy img-responsive-100x100" data-src="assets/img/ofertas/nuestras-tarifas.jpg" /></a>
                    <h2 class="titol-list-compact"><a title="" href="#">Nuestras tarifas</a></h2>
                    <div class="linia05"></div>
                    <p>No podrás evitar el placer de alojarte en nuestra casa.</p>
                    <a href="" class="b_generic01 b_generic01_center">Vea la oferta</a>
                </div>

                <div class="clearfix visible-sm-block"></div>

                <div class="col-sm-6 col-md-4 padding_sides_13 item load-item">
                    <a title="" href="#" class="image-effect-link"><img alt="" class="lazy img-responsive-100x100" data-src="assets/img/ofertas/gastronomia-montiboli.jpg" /></a>
                    <h2 class="titol-list-compact"><a title="" href="#">Gastronomía Montíboli</a></h2>
                    <div class="linia05"></div>
                    <p>No renuncies a disfrutar de lo mejor. Déjate seducir por nuestra gastronomía.</p>
                    <a href="" class="b_generic01 b_generic01_center">Vea la oferta</a>
                </div>
                <div class="col-sm-6 col-md-4 padding_sides_13 item load-item">
                    <a title="" href="#" class="image-effect-link"><img alt="" class="lazy img-responsive-100x100" data-src="assets/img/ofertas/convenciones-banquetes.jpg" /></a>
                    <h2 class="titol-list-compact"><a title="" href="#">Convenciones y Banquetes</a></h2>
                    <div class="linia05"></div>
                    <p>Celebra con nosotros tus momentos más especiales.</p>
                    <a href="" class="b_generic01 b_generic01_center">Vea la oferta</a>
                </div>
                <div class="clearfix visible-md-block visible-lg-block"></div>
                <div class="clearfix visible-sm-block"></div>

            </div>
        </div>
    </div>
    {{!-- end: content container --}}
    {{> footer }}