---
listado_habitaciones: active
---
    {{> reservar }}
    {{> header }}

    {{!-- begin: content container --}}
    <style type="text/css">
        .banner-pagina-interior {
            background-image:url(assets/img/banners/banner-listado-habitaciones.jpg);
        }
        @media (max-width:767px){ 
            .banner-pagina-interior {
                background-image:url(assets/img/banners/banner-listado-habitaciones@xs.jpg);
            }
        }
    </style>
    <div class="container-fluid banner-pagina-interior banner-standard">
        <div class="degradat-banner-interior"></div>
        <div class="text-banner-interior">
            <h1>Nuestras habitaciones</h1>
            <h2>- Ejemplo de texto -</h2>
        </div>
    </div>
    
    <div id="section-content" class="grey-bg">
        <div id="breadcrumbs" class="container">
            <ol class="breadcrumb center-block">
                <li><a href="#">Inicio</a></li>
                <li><a href="#">El hotel</a></li>
                <li class="active">Habitaciones</li>
            </ol>
        </div>
        
        <div id="listado-habitaciones" class="container-fluid max1600 overflowx-hidden">
            <div class="row odd">
                <div class="col-xs-12 visible-xs">
                    <a href="#"><img alt="" data-src="assets/img/habitaciones/doble-colonial.jpg" class="lazy img-responsive" /></a>
                </div>
                <div class="col-sm-4 col-xs-12">
                    <div class="wrapper-texto-listado-habitaciones pos-rel">
                        <div class="v-center">
                            <h2><a title="" href="#">Doble Colonial</a></h2>
                            <p>Descubre las magníficas habitaciones con vistas al mar en la Costa de Alicante que te ofrecemos.</p>
                        </div>
                        <div class="text-center links-listado-habitaciones">
                            <a href="" class="b_generic01">Ver detalle</a>
                            <a href="" class="b_generic01" style="padding-left:20px;">Reservar</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-8 col-xs-12 foto-listado-habitaciones hidden-xs"><a title="" href="#"  class="lazy" data-src="assets/img/habitaciones/doble-colonial.jpg"></a></div>
            </div>
            <div class="row even">
                <div class="col-xs-12 visible-xs">
                    <a href="#"><img alt="" data-src="assets/img/habitaciones/doble-moderna.jpg" class="lazy img-responsive" /></a>
                </div>
                <div class="col-sm-4 col-xs-12 floatr">
                    <div class="wrapper-texto-listado-habitaciones pos-rel">
                        <div class="v-center">
                            <h2><a title="" href="#">Doble Moderna</a></h2>
                            <p>Descubre las magníficas habitaciones con vistas al mar en la Costa Blanca de Alicante que te ofrecemos.</p>
                        </div>
                        <div class="text-center links-listado-habitaciones">
                            <a href="" class="b_generic01">Ver detalle</a>
                            <a href="" class="b_generic01" style="padding-left:20px;">Reservar</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-8 col-xs-12 foto-listado-habitaciones floatl hidden-xs"><a title="" href="#" class="lazy" data-src="assets/img/habitaciones/doble-moderna.jpg"></a></div>
            </div>
            <div class="row odd">
                <div class="col-xs-12 visible-xs">
                    <a href="#"><img alt="" data-src="assets/img/habitaciones/doble-romantica.jpg" class="lazy img-responsive" /></a>
                </div>
                <div class="col-sm-4 col-xs-12">
                    <div class="wrapper-texto-listado-habitaciones pos-rel">
                        <div class="v-center">
                            <h2><a title="" href="#">Doble Romántica</a></h2>
                            <p>Descubre las magnificas habitaciones con vistas al mar en la Costa Mediterránea de Alicante que te ofrecemos.</p>
                        </div>
                        <div class="text-center links-listado-habitaciones">
                            <a href="" class="b_generic01">Ver detalle</a>
                            <a href="" class="b_generic01" style="padding-left:20px;">Reservar</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-8 col-xs-12 foto-listado-habitaciones hidden-xs"><a title="" href="#" class="lazy" data-src="assets/img/habitaciones/doble-romantica.jpg"></a></div>
            </div>
            <div class="row even">
                <div class="col-xs-12 visible-xs">
                    <a href="#"><img alt="" data-src="assets/img/habitaciones/junior-suite.jpg" class="lazy img-responsive" /></a>
                </div>
                <div class="col-sm-4 col-xs-12 floatr">
                    <div class="wrapper-texto-listado-habitaciones pos-rel">
                        <div class="v-center">
                            <h2><a title="" href="#">Junior Suite</a></h2>
                            <p>Descubre las magníficas habitaciones con vistas al mar en la Costa Levante de Alicante que te ofrecemos.</p>
                        </div>
                        <div class="text-center links-listado-habitaciones">
                            <a href="" class="b_generic01">Ver detalle</a>
                            <a href="" class="b_generic01" style="padding-left:20px;">Reservar</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-8 col-xs-12 foto-listado-habitaciones floatl hidden-xs"><a title="" href="#" class="lazy" data-src="assets/img/habitaciones/junior-suite.jpg"></a></div>
            </div>
            <div class="row odd">
                <div class="col-xs-12 visible-xs">
                    <a href="#"><img alt="" data-src="assets/img/habitaciones/suites.jpg" class="lazy img-responsive" /></a>
                </div>
                <div class="col-sm-4 col-xs-12">
                    <div class="wrapper-texto-listado-habitaciones pos-rel">
                        <div class="v-center">
                            <h2><a title="" href="#">Suites</a></h2>
                            <p>Descubre las magníficas habitaciones con terrazas cerca del mar en Villajoyosa, Alicante, que te ofrecemos.</p>
                        </div>
                        <div class="text-center links-listado-habitaciones">
                            <a href="" class="b_generic01">Ver detalle</a>
                            <a href="" class="b_generic01" style="padding-left:20px;">Reservar</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-8 col-xs-12 foto-listado-habitaciones hidden-xs"><a title="" href="#" class="lazy" data-src="assets/img/habitaciones/suites.jpg"></a></div>
            </div>
        </div>
    </div>
    {{!-- end: content container --}}
    {{> footer }}