---
tarifas: active
---
    {{> reservar }}
    {{> header }}

    {{!-- begin: content container --}}
    <style type="text/css">
        .banner-pagina-interior {
            background-image:url(assets/img/banners/banner-listado-ofertas.jpg);
        }
        @media (max-width:767px){ 
            .banner-pagina-interior {
                background-image:url(assets/img/banners/banner-listado-ofertas@xs.jpg);
            }
        }
    </style>
    <div class="container-fluid banner-pagina-interior banner-standard">
        <div class="degradat-banner-interior"></div>
        <div class="text-banner-interior">
            <h1>Nuestras tarifas 2016</h1>
            <h2>- Momentos especiales -</h2>
        </div>
    </div>
    <div id="section-content" class="grey-bg">
        <div id="breadcrumbs" class="container">
            <ol class="breadcrumb center-block">
                <li><a href="#">Inicio</a></li>
                <li class="active">Nuestras Tarifas</li>
            </ol>
        </div>
        <div class="container small-area">
            <table class="table table01 table-tarifas" data-visible-column="2">
                <tr>
                    <th></th>
                    <th class="head-col">
                        <a href="#" class="visible-xs tarifas-button tarifas-button-left"> </a>
                        <div class="tarifas-content">
                            Del 01.01.16 a 31.05.16<br>del 01.10.16 a 31.12.16
                        </div>
                        <a href="#" class="visible-xs tarifas-button tarifas-button-right"> </a>
                    </th>
                    <th class="head-col">
                        <a href="#" class="visible-xs tarifas-button tarifas-button-left"> </a>
                        <div class="tarifas-content">
                            Del 01.06.16 a 31.07.16<br>del 01.09.16 a 30.09.16
                        </div>
                        <a href="#" class="visible-xs tarifas-button tarifas-button-right"> </a>
                    </th>
                    <th class="head-col">
                        <a href="#" class="visible-xs tarifas-button tarifas-button-left"> </a>
                        <div class="tarifas-content">
                            Del 01.08.16<br>a 31.08.16
                        </div>
                        <a href="#" class="visible-xs tarifas-button tarifas-button-right"> </a>
                    </th>
                </tr>
                <tr>
                    <th class="head-row">Doble Colonial/Moderna<br>
                        Máx. 3 pers.
                    </th>
                    <td>163,00 €</td>
                    <td>195,00 €</td>
                    <td>237,00 €</td>
                </tr>
                <tr class="feat-row">
                    <th class="head-row">Doble uso individual</th>
                    <td>102,00 €</td>
                    <td>129,00 €</td>
                    <td>161,00 €</td>
                </tr>
                <tr class="feat-row">
                    <th class="head-row">Cama extra (3ª persona)</th>
                    <td>57,05 €</td>
                    <td>63,37 €</td>
                    <td>71,10 €</td>
                </tr>
                <tr class="empty">
                    <td colspan="4">&nbsp;</td>
                </tr>
                <tr>
                    <th class="head-row">Doble romántica<br>
                        Máx. 2 adultos y 1 niño
                    </th>
                    <td>178,00 €</td>
                    <td>216,00 €</td>
                    <td>263,00 €</td>
                </tr>
                <tr class="feat-row">
                    <th class="head-row">Cama extra (3ª persona)</th>
                    <td>62,30 €</td>
                    <td>70,20 €</td>
                    <td>78,90 €</td>
                </tr>
                <tr class="empty">
                    <td colspan="4">&nbsp;</td>
                </tr>
                <tr>
                    <th class="head-row">Junior Suite o Bungalow<br>
                        Máx. 4 pers.
                    </th>
                    <td>201,00 €</td>
                    <td>244,00 €</td>
                    <td>297,00 €</td>
                </tr>
                <tr class="feat-row">
                    <th class="head-row">Cama extra<br>(3ª y 4ª persona)</th>
                    <td>70,35 €</td>
                    <td>79,30 €</td>
                    <td>89,10 €</td>
                </tr>
                <tr class="empty">
                    <td colspan="4">&nbsp;</td>
                </tr>
                <tr>
                    <th class="head-row">Junior Suite Polaris<br>
                        Máx. 2 pers.
                    </th>
                    <td>249,00 €</td>
                    <td>286,00 €</td>
                    <td>339,00 €</td>
                </tr>
                <tr>
                    <th class="head-row">Junior Suite Presidencial<br>(Hab. 501)<br>
                        Máx. 2 personas
                    </th>
                    <td>525,00 €</td>
                    <td>592,00 €</td>
                    <td>647,00 €</td>
                </tr>
                <tr>
                    <th class="head-row">Suite Presidencial<br>(Hab. 501+502)<br>
                        Máx. 4 personas
                    </th>
                    <td>688,00 €</td>
                    <td>787,00 €</td>
                    <td>884,00 €</td>
                </tr>
                <tr class="empty">
                    <td colspan="4">&nbsp;</td>
                </tr>
                <tr class="feat-row info">
                    <td colspan="4">Precios por habitación y día con Desayuno incluido</td>
                </tr>
            </table>
            <table class="table table01">
                <tr>
                    <th class="head-col head-col-first">Suplementos por día</th>
                    <th class="head-col"></th>
                </tr>
                <tr>
                    <th class="head-row">Pensión<br>(Bebidas no incluidas):</th>
                    <td>Almuerzo o Cena (por pers.): 40 €<br>Almuerzo y Cena (por pers.): 70 €</td>
                </tr>
                <tr>
                    <th class="head-row">Otros Servicios:</th>
                    <td>Cuna: GRATIS<br>Garaje: 35 €<br>Perros (sólo en habitación): 26 €</td>
                </tr>
                <tr class="empty">
                    <td colspan="4">&nbsp;</td>
                </tr>
                <tr class="feat-row info">
                    <td colspan="4">IVA incluido (10%)</td>
                </tr>
            </table>                
            <div class="text-center small-area">
                <a class="b_generic01" title="" href="#"><span class="glyphicon glyphicon-download-alt"></span>&nbsp;&nbsp;Descargar Tarifas en PDF</a>
            </div>
        </div>
    </div>
    {{!-- end: content container --}}
    {{> footer }}